body {
    font-family: Arial; 
}

.square {
    stroke: black;
    stroke-width:  4;
    background-color:  #99fadc;
    width: 300px;
    height: 300px;
    margin: 10px;
}

button {
    margin: 10px;
}

.gen {
    font-size: 30px;
    margin: 10px;
}