
body {
  font-family: Arial;
}

.point {
  fill: seagreen;
}

.tooltip {
  position: absolute;
  background-color: grey;
  border:  solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}
